body {
	width: 80%;
	text-align: center;	
	margin: 5% 10%;
}

.body-wrapper {
	background-attachment: fixed;
	background-image: url(img/bg.png) no-repeat bottom center;
	background-repeat: no-repeat;
	background-size: 25em, 25em, auto, cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title {
}

#runsense-title {
	font-size: 6em;
}

.sign-up {
	margin-top: 10%;
}

.account-button {
	border:1px solid green;
	width: 15%;
	height: 50px;
	margin: 0 1%;
	font-size: 1.2em;
	background-color: #CCEECC;
}

.account-button:hover{
	background-color: #DDFFDD;
	border:1px solid green;
}

.hidden {
	height: 0px;
	width: 0px;
}

.sign-in-form {
	margin: 20px auto;
	width: 70%;
	padding: 5%;
}

.create-account-form {
	margin: 20px auto;
	width: 70%;
	padding: 5%;
}

.section-border {
	border: 1px solid green;
	border-radius: 10px;
	padding-top: 2%;
	padding-bottom: 3%;
}

.content {
	margin: 20px auto;
}

.data-container {
	width: 90%;
	margin: 25px auto;
	padding: 3%;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
}

h1, h3 {
	color: #446622;
}

h2 {
	color: #BBBB99;
	text-align: left;
}