html {
	background-attachment: fixed;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: 25em, 25em, auto, cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
	width: 80%;
	text-align: center;	
	margin: 5% 10%;
	font-family: 'Raleway', sans-serif;
	padding: 5%;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.4);
}

.title {
	width: 100%;
}

#runsense-title {
	font-size: 6em;
}

.sign-up {
	margin-top: 7%;
}

.account-button {
	border:0px solid white;
	border-radius: 2px;
	width: 15%;
	height: 50px;
	margin: 0 1%;
	font-size: 1.2em;
	background-color: rgba(220, 0, 50, 1.0);
	color: white;
}

.account-button:hover{
	background-color: rgba(242, 0, 55, 1.0);
	border:0px solid #000080;
	color: white;
	border-radius: 2px;
}

.hidden {
	height: 0px;
	width: 0px;
}

.sign-in-form {
	margin: 20px auto;
	width: 60%;
	padding: 5%;
}

.create-account-form {
	margin: 20px auto;
	width: 60%;
	padding: 5%;
}

#create-account-form {
	/*margin-top: 30px;*/
}

#sign-in-form {
	/*margin-top: 30px;*/
}

.section-border {
/*	border: 1px solid #444444;*/
	border-radius: 2px;
	/*padding-top: 2%;*/
	/*padding-bottom: 3%;*/
}

.content {
	/*margin: 20px auto;*/
}

.data-container {
	width: 90%;
	margin: 0px auto;
	padding: 2px;
	/*border: 1px solid #DDDDDD;*/
	/*background-color: rgba(255, 255, 255, 0.3);*/
	border-radius: 2px;
}

h1, h3 {
	color: #00004C;
}

h2 {
	text-align: left;
}

#ex3 {
	background-color: rgba(255, 255, 255, 0.4);
}

#ex2 {
	background-color: rgba(255, 255, 255, 0.4);
}

#slogan {
	margin-top: 2%;
}

#logo {
	width: 70%;
}

